.preview{
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.dropZone{
  width: 100%;
  min-height: 200px;
  border: 2px dashed grey;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
}


.preview i{
  z-index: 100;
  color: red;
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 20px;
  cursor: pointer;
  background: white;
  border-radius: 50%;
}
