.button_submit{
  margin-top: 20px;
  margin-bottom: 20px;
}

.ed-link{
  text-decoration: underline;
  cursor: pointer;
}

.field{
  margin-bottom: 20px;
}

.field input{
  display: block;
  width: 100%;
  padding: 10px;
}

.Editor ul{
  padding-left: 20px;
}

.Editor ul li{
  list-style-type: disc!important;
}

.Editor ul a, .Editor p a{
  color: inherit;
  text-decoration: underline;
}

.Editor{
  margin-bottom: 20px;
}

.checkboxInside{
  margin-bottom: 20px;
}

.checkboxInside i{
  cursor: pointer;
}
