.sidenav li a{
  color: white;
  display: block;
  padding: 10px 20px;
}

.sidenav ul{
  padding-left: 0;
}

.sidenav li a:hover{
  background-color: #004d40;
  text-decoration: none;
}

.sidenav ul > li{
  list-style-type: none!important;
}
