.Admin ul li, .addWrap{
  margin-bottom: 20px;
}

.addWrap, .menuLi{
  position: relative;
}

input{
  margin-bottom: 0!important;
}

.shortPages ul li span{
  position: absolute;
  right: 0;
  bottom: 0;
}

.shortPages .addSave{
  right: 10px;
  top: 10px;
  position: absolute;
}


.shortPages ul li span i, .addSave i{
  cursor: pointer;
}

.shortPages ul li span i:hover, .addSave i:hover{
  color: #26a69a;
}

.shortPages .addBtn{
  float: right;
  margin-bottom: 20px;
}

.shortPages input{
  width: 100%;
  padding: 10px;
}

.addArticle{
  color: black;
}

.menuArticles{
  margin-left: 50px;
  margin-top: 20px;
}

.menuArticles span, .menuArticles a{
  color: white;
}

.articleShort{
  padding: 6px 10px;
  background-color: #00897b;
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
}

.menuArticles .icons{
  top: 2px;
}

.addSave i{
  font-size: 25px;
}
